
.home__container{
    padding: 6rem 0 2rem;
}

.home__header{
    background-color:#1D1E2E ;
    padding: 3rem 5rem 2rem 2rem;
    border-radius: 3rem;
}

.home__header h1{
    /* text-align: center; */
    font-size: 84px;
    line-height: 88px;
    font-weight: 400;
}




.home__header p{
    margin: 2.5rem 0 2rem;
}






/*===== Spark ====*/
.spark{
margin: 5rem 0;    
}

.parag3{
    width: 70%;
}



/*==== b2b =====*/

.b2b__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

}

.b2b__item{
    background-color: #0F2645;
    padding: 1rem;
    border-radius: 2rem;
}

.b2b__icon{
    background-color: #030516;
    padding: 0.6rem;
    border-radius: 0.5rem;
    width: max-content;

}

.b2b__item-h{
    margin: 1.5rem 0 2rem;
}




/*======== stats=====*/

.stats{
    margin: 5rem 0;
}

.stats__container{
    text-align: center;
}


.stats__main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.stat{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.stat h4{
    color: #A4BFDE;
}


/*===== Blog =======*/

.blog{
    margin: 5rem 0;
}

.blog__header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.blog__main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.blog__articles{
    border-radius: 1rem;
    /* background-color: ; */
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 300ms ease-in;
}

.blog__articles:hover{
    border: 1px solid #A4BFDE;
}
.blog__articles:hover .blog__content{
    margin-left: 1.2rem;
}

.blog__img img{
    width: 22rem;
}

.blog__content{
    margin: 2rem 0 1rem;
    border-left: 1px solid white;
    padding-left: 1.5rem;
    transition: all 500ms ease-in;

}

.blog__content p{
   margin: 1rem 0;
}


/*===== Join ====*/

.join{
    margin-bottom: 5rem;
}

.join__container{
    text-align: center;
}

.joinTitle{
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: #60A6E7;
}

.btn_join{
    margin-top: 2rem;
}