nav{
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 10000;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__links a {
    color: white;
}

.nav__links a:hover{
    transition: all 300ms ease-in;
    color: #B3D0F2;
}