

.tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
}

button:hover{
    background-color: #0F2645; 
}
    
    .iwaria{
        width: 4rem;
    }