@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;

  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #030516;
  font-family: "Lexend", serif;
  color: white;
}

.container{
  margin: 0 auto;
  width: 80%;
}

.btn{
  background-color: white;
  border-radius: 5rem;
  padding: 0.65rem 1rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}

.subTitle2{
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.subTitle3{
  font-size: 2rem;
 margin-bottom: 2rem;
 font-weight: 300;
 text-align: center;
 margin-bottom: 2rem;
}

.parag3{
  color: #A29DA6;
  font-size: 1rem;
}

.word_deco{
    color: #B3D0F2 ;

}

